modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000 -H 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start", "--", "-p", "5000", "-H", "0.0.0.0"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://tvrxhwilychzqinovoiq.supabase.co"
SUPABASE_URL = "https://tvrxhwilychzqinovoiq.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2cnhod2lseWNoenFpbm92b2lxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyOTAyMDUsImV4cCI6MjA4Mzg2NjIwNX0.a8Fb_HvO3SG7l9ms_M2ClGTN5OeIt5ou4HzCvnWzph0"
GOOGLE_DRIVE_REDIRECT_URI = "https://artha1.vercel.app/api/auth/callback/google"
NEXT_PUBLIC_GOOGLE_DRIVE_APP_ID = "721802200710"
NEXT_PUBLIC_GOOGLE_DRIVE_API_KEY = "AIzaSyD2hI9HahlN0fk9ujd9UK_Ou34q1ZGWM9Q"
GOOGLE_DRIVE_CLIENT_ID = "721802200710-6rcmjrd8caomeis6i3pq1dr6qk2f0m2o.apps.googleusercontent.com"

[userenv.development]
DISABLE_AUTH = "true"
